---
layout: default
title: Home
---

<div class="card">
  <a href="/">
  <table>
    <tr>
      <td rowspan='2'>
        <img src="/assets/images/icon.png"/>
      </td>
      <td>
        {% include stephandtim.html %}
      </td>
    </tr>
    <tr>
      <td>
        {% include date.html %}
      </td>
    </tr>
  </table>
  </a>
  <hr/>
  {% include links.html %}
</div>

<div id="main_content">
  <p>
    Welcome to our wedding website. You can use these links to navigate the website
    and learn more about us and our wedding.
  </p>
  <p>
    If you are looking to RSVP you can click <a href="/rsvp">this link.</a>
  </p>
  <p>
    If you are looking for our Registry(s) you can click <a href="/registry">this link.</a> 
  </p>
  </p>
  <p>
    If you are looking for directions to the wedding you can click <a href="/directions">this link.</a> 
  </p>
</div>

