.header {

  .top-bar{
    width: 100%;

    img {
      width: 90px;
    }

    .title {
      .list-container{
        display: inline-block;
        color: #222426;
      }

      .names {
        width: 230px;
        top: 13px;
        position: relative;
        
        ul {
          li:nth-child(1) {
            text-align: right;
          }
        }
      }

      .date {
        width: 240px;
        float: right;
      }
    }
  }
}
