.card {
  width: 800px;
  margin: 20px auto;

  table {
    color: #222426;
    text-align: center;
    width: 100%;

    img {
      width: 300px;
    }
    h1 {
      font-size: 5em;
      display: inline-block;
      margin: 0;
    }
    tr:nth-child(1) {
      td {
        vertical-align: bottom;
      }
    }
    tr:nth-child(2) {
      td {
        vertical-align: top;
      }
    }
  }

}

